ul#breadcrumbs li:last-child a:after {
    display: none;
}
ul#breadcrumbs li > span {
    color: #666;
    padding-left: 0;
}

/** common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }

  form#webnartopform > div {
    display: inline-block;
  }
  

  .switch-layout-container form#webnartopform .thim-course-order select {
    height: 34px;
    color: #999;
  }
  .switch-layout-container form#webnartopform .courses-searching {
    border: 0;
    background: #fff;
    width: 270px;
    position: relative;
    line-height: 34px;
    max-width: 100%;
}
.switch-layout-container form#webnartopform .courses-searching input[type=text] {
  font-size: 13px;
  color: #999;
  line-height: 20px;
  padding: 6px 0 6px 10px;
  border-radius: 0;
  width: 100%;
  height: 34px;
  border: 1px solid #e5e5e5;
  -webkit-transition: all .3s ease-in-out;
  -khtml-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  box-shadow: none;
}

.switch-layout-container form#webnartopform .courses-searching button[type=submit] i {
  font-size: 14px;
  color: #ccc;
  line-height: 34px;
}
.switch-layout-container form#webnartopform .courses-searching button[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  background: 0 0;
  box-shadow: none;
  border: none;
  outline: 0;
  width: 30px;
  padding: 0;
  line-height: 34px;
}
.switch_menu a.active {
  background-color: #d9edf7;
  padding: 3px 20px;
}

.mb-1{margin-bottom: 1rem !important;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}

.mt-0{margin-top:0 !important;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.mt-6{margin-top: 6rem;}
.position-relative 
{
  position: relative;
}
.nextlesson:not(.student) {
  position: absolute;
}
.nextlesson {
  top: 5px;
  right: 0;
  color: deeppink;
  font-size: 15px;
  font-weight: bold;
}
.line-height-30
{
  line-height: 30px;
}
.learn-press-subtab-content .thim-course-list .course-item .thim-course-content .course-description
{
  height: unset;
}
.course-published-status.pull-left {
  position: absolute;
  bottom: 0;
}
.position-absulate-bottom
{
  position: absolute;
  bottom: 0;
  right: 0;
}
.digitalcustdev-profile-page .profile-courses-list .lpr_course .course-item .course-readmore a {
  height: unset;
  vertical-align: bottom;
  line-height: 0;
}
span.duartionleft {
  color: #888;
  font-weight: 100;
}
.pr-1
{
  padding-right: 1em;
}

header.header-profile .navigation-sidebar-wrapper .nav-tab-main-menu .text {
  padding: 7px 16px 7px 12px;
}
header.header-profile .navigation-sidebar-wrapper .nav-tab-main-menu .dropdown-content a {  
  padding: 7px 16px;
}
header.header-profile .navigation-sidebar-wrapper .nav-tab-main-menu .dropdown-content
{
  top: 0;
}
header.header-profile .navigation-sidebar-wrapper .nav-tab-main-menu li:last-child .dropdown-content
{
  top: unset;
  bottom: 0;
}
div#profile-content-courses select.form-control option[value="?filter-status=closest-webinar-lesson"],
div#profile-content-webinars .course-wishlist-box,
div#profile-content-courses .course-wishlist-box,
div#profile-content-webinars .ribbon.ribbon-top-left {
  display: none;
}
div#profile-content-webinars .show-rebon .ribbon.ribbon-top-left{
  display: block;
}


/*
* Tooltip
*/
div.profile-courses-list div.tooltip {
  position: absolute;
  border-radius: 5px;
  width: auto;
  padding: 5px !important;
  line-height: 15px;
  font-size: 10px;
  text-transform: capitalize;
  z-index: 99999999999999999999999;
  height: auto !important;
}

/* tooltip-arrow */
.color-green
{
  color: green;
}
a.next-webinar-lesson{
  position: absolute;
  bottom: 0;
  right: 0;
}
.user-information {
  text-align: justify;
}
.profile-tabs.not-view {
  padding-left: 5%;
}
#profile-content-courses .learn-press-subtab-content ul.lp-sub-menu {
  display: none !important;
}
div.learnpress .profile-container .profile-tabs .tab-content
{
  padding-top: 0 !important;
}
.lp-course-progress .lp-progress-bar .lp-progress-value.percentage-sign.newstyle{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 35px;
    background-color: #3f48cc !important;
}
.lp-progress-bar.value {
  position: relative;
  margin: 0;
}
.course-progress.newstyle .lp-course-progress .lp-progress-bar .lp-progress-value
{
  background-color: #22b14c;
  height: 35px;
}
.course-progress.newstyle .lp-course-progress .lp-progress-bar
{
  background-color: white;
  height: 35px;
  border: 3px solid #999;
  margin: 0;
}

.color-blue 
{
  color: #3f48cc;
}
.ml-5 {
  margin-left: 5rem;
}
.pull-right
{
  float: right;
}
#profile-content-orders .profile-recover-order {
  display: none;
}
.profile-orders td.column-order-action a:before {
  content: '| ';
  color: #999;
}
.profile-orders td.column-order-action a:first-child:before {
  display: none;
}
span.countr.buble-counter {
  position: absolute;
  left: 40px;
  background-color: #f71d1d;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 100px;
  font-size: 10px;
  color: white;
}

span.countr.buble-counter.second{
  left: unset;
  right: 65px;
  top: 7px;
}

span.countr.buble-counter.third{
  left: unset;
  right: 20px;
}



/*
* responsive
*/
@media only screen and (max-width: 786px){
  div#wpadminbar {
    display: none;
  }
  html.touch {
    margin-top: 0 !important;
  }
  nav.mobile-menu-container .dropdown-content {
    display: none;
    position: relative;
    right: unset;
    top: 0;
    margin-right: unset;
    background-color: unset;
    min-width: unset;
    box-shadow: unset;
    z-index: unset;
    left: 30px;
} 
nav.mobile-menu-container .dropdown-content a {
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
}
span.countr.buble-counter{
  left: 28px;
}
}

.mobile-menu-wrapper ul li.d-none,
.d-none 
{
  display: none !important;
}
.thim-course-content.position-relative {
  min-height: 215px;
}
.mt-30{
  margin-top: 30em;
}
.mt-32{
  margin-top: 32em;
}
.mt-29{
  margin-top: 29em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 38px;
  vertical-align: top;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mr-1{
  margin-right: 1rem;
}
.h-300 .wp-editor-wrap iframe{
  min-height: unset !important;
}
.d-inline{
  display: inline-block !important;
}
.single_sub_section > div.rwmb-label,
#frontend-editor .e-form-field-table.flex .e-form-field > div.rwmb-label {
  flex: 0 0 300px;
}

.with-loader #e-update-activity,
.foooter_loading #e-update-activity{
  position: absolute;
  top: -30px;
  left: -70%;
  max-width: 63px;
  min-width: unset;
  min-height: unset;
  max-height: 75px;
  padding: 0;
}

.with-loader #e-update-activity:after {
  content: 'Seaving...';
  position: absolute;
  bottom: -10px;
  width: 100%;
  text-align: center;
}

.with-loader #e-update-activity .e-update-activity__icon {
  left: 0;
  top: 0;
}
.mb-0{
  margin-bottom: 0 !important;
}
.top-0
{
  top: 0 !important;
}


div#e-item-settings[data-context="lp_assignment"] ul li div.add_video,
div#e-item-settings[data-context="lp_assignment"] ul li div#wp-content-media-buttons
{
  display: none;
}
#frontend-editor .e-form-field-table.flex .e-form-field.d-block,
.d-block{
  display: block;
}
.single_sub_section {
  display: flex;
}
.single_sub_section div.tooltip {
  display: inline;
}
body.page-frontend-editor h2.media-frame-menu-heading,
body.page-frontend-editor .media-frame-menu{
  display: none;
}
body.page-frontend-editor .media-frame-router,
body.page-frontend-editor .media-frame-content,
body.page-frontend-editor .media-frame-toolbar,
body.page-frontend-editor .media-frame-title{
  left: 0;
}
div#learn-press-user-profile.profile-container {
  padding-left: 0 !important;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_disabled.xdsoft_time:hover,
.xdsoft_time.xdsoft_disabled, .xdsoft_time.xdsoft_disabled:hover {
  background-color: #ff8000 !important;
  color: #fff !important;
}

span.crose_limit {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  background: transparent;
  color: red;
  display: block;
  text-align: center;
  padding-top: 38px;
}
body.page-frontend-editor .attachment-display-settings
{
  display: none;
}
span.step_hide_error {
  color: red;
}

ul#error_msg_ajax {
  margin-bottom: 15px;
}
span.error,
ul#error_msg_ajax li {
  color: red;
}
div#pendingpopup {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  display: table;
  vertical-align: middle;
  background: rgba(0,0,0,0.3);
  z-index: 999;
}
div#pendingpopup h2 {
  display: table-cell;
  vertical-align: middle;
}
div#pendingpopup span {
  background-color: #2196F3;
  padding: 30px;
  border-radius: 5px;
  color: white;
}



/*
* Mobile css for second tab
*/
@media only screen and (max-width: 768px){
  #e-item-settings[data-context='lp_lesson'] ul.e-form-field-table li:nth-child(2):not(.webinar) {
    top: 610px;
  }

  #frontend-editor li.course_coming_soon .rwmb-meta-box .rwmb-field:nth-child(4),
  #frontend-editor li:not(.course_coming_soon) .rwmb-meta-box .rwmb-field:not(.hide-if-js){
    display: block !important;
  }
  #frontend-editor .rwmb-meta-box .rwmb-field .rwmb-input{
    padding: 0 !important;
  }
  #frontend-editor .rwmb-meta-box .rwmb-field .rwmb-input input[type="number"] {
    width: 100%;
  }
  #frontend-editor #e-tab-content-curriculum #e-course-curriculum {
   z-index: 9;
   right: unset;
   left: 0;
   background-color: white;
   overflow: visible !important;
  }
  #frontend-editor #e-tab-content-curriculum #e-item-settings{
    position: relative !important;
    left: unset !important;
    height: 1000px;
    overflow: hidden !important;
  }
  #frontend-editor #e-tab-content-curriculum #e-course-curriculum
  {
    max-width: 100%;
  }
  #frontend-editor .e-form-field-table.flex .e-form-field
  {
    display: block !important;
  }
  .single_sub_section > div.rwmb-label, #frontend-editor .e-form-field-table.flex .e-form-field > div.rwmb-label
  {
    flex: unset !important;
  }
  #frontend-editor .e-tabs,
  #frontend-editor #e-tab-content-curriculum{
    overflow: visible !important;
  }
  div#frontend-course-editor > div.e-tabs > div.e-tab:not(.active) {
    display: none;
  }

  body.page-frontend-editor div#frontend-editor{
    top: 0 !important;
  }
  div#pendingpopup span {
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }
}

span.mobile_section_toggle {
  background-color: #2575fc;
  color: white;
  border-radius: 0;
  font-size: 40px;
  position: absolute;
  top: 40%;
  right: 0;
  padding: 0px;
  height: 60px;
  width: 24px;
  z-index: 999;
  cursor: pointer;
  line-height: 60px;
}




#frontend-editor .e-quiz-editor .e-question-loop.error,
#frontend-editor .e-course-sections .e-section .e-section-content .e-section-item.error,
#frontend-editor .e-course-sections .e-section .e-section-head.error{
  border-color: red;
}
#frontend-editor .e-quiz-editor .e-question-loop.error div.e-item-input input[type="text"],
#frontend-editor .e-course-sections .e-section .e-section-content .e-section-item.error input[type="text"],
#frontend-editor .e-course-sections .e-section .e-section-content .e-section-item.error input,
#frontend-editor .e-course-sections .e-section .e-section-head.error input
{
  color: red !important;
}

#frontend-editor #e-tab-content-curriculum.toggle-active:before {
  content: '';
  background: rgba(0,0,0,0.3);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9;
}
#frontend-editor .e-course-sections {
  position: relative;
}
.xdsoft_time_box.xdsoft_scroller_box,
.xdsoft_time_variant,
html {
  scroll-behavior: smooth;
}

.onlycourse_duration input,
.onlycourse_duration select
{
max-width: 100%;
}


body.hide-image-type-from-media div.attachments-browser li.acf-disabled{
  display: none;
}

ul.attachments li div:not(.type-image):parent{
  display: none;
}

div#lession_Int_media button{
  background-color: #2575fc !important;
  color: #fff !important;
}

#frontend-editor #e-item-settings .e-settings-window .e-item-settings-content
{
  padding-top: 0 !important;
}