/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 form#webinar-list-form tr.status-pending,
 form#posts-filter tr.status-pending {
    background: #2196f34a;
    color: white;
}
#adminmenu li a.wp-has-current-submenu .update-plugins, 
#adminmenu li.wp-first-item.current a .awaiting-mod.custom,
#adminmenu li.wp-first-item a .awaiting-mod.custom,
#adminmenu ul.wp-submenu.wp-submenu-wrap li:nth-child(3) a .awaiting-mod.custom
{
    background-color: #ca4a1f;
    color: #fff;
}
.pr-0{padding-right: 0 !important;}
.pl-0{padding-left: 0 !important;}
.w-100{width: 100%;}

.mt-0{margin-top:0;}
.mt-1{margin-top:1rem;}
.mt-2{margin-top:2rem;}
.mt-3{margin-top:3rem;}

.zoom-error ul li {
    color: red;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_disabled.xdsoft_time:hover,
.xdsoft_time.xdsoft_disabled, .xdsoft_time.xdsoft_disabled:hover {
  background-color: #ff8000 !important;
  color: #fff !important;
}
form.zvc-meetings-form input.regular-text {
    width: unset !important;
}
form.zvc-meetings-form span.select2.select2-container {
    min-width: 50%;
}

table#zvc_meetings_list_table_customOrder tbody > tr.zoom_active {
    background-color: #007cba30;
}
/* body.post-type-lp_lesson tbody#the-list tr{
    background-color: #ff00001f;
} */
body.post-type-lp_lesson tbody#the-list tr.syncronized td.meta-zoom_date {
    background: #00800024;
}
.alternativeHosterWrap {
    display: block;
    overflow: hidden;
}
.alternativeHosterWrap > div {
    width: 50%;
}
td.zoom_master_host span.select2.select2-container,
.alternativeHosterWrap > div:first-child span.select2.select2-container {
    width: 100% !important;
}
.alternativeHosterWrap > div:last-child label {
    margin-left: 15px;
    padding: 4px;
    display: block;
}