.profile-container .profile-tabs .tab-content{
    padding: 55px 0 0!important;
}

div#your-profile {
    display: block!important;;
}

.learn-press-subtab-content ul.lp-sub-menu {
    display: block!important;;
}